*{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins", Verdana, Geneva, Tahoma, sans-serif;
}
section{
    background: linear-gradient(136,16deg,
    rgba(91,135,75,0.97)12.91%,
    rgba(12,55,32,0.87),87.68%);
    height: 100vh;
    background-color: rgb(41, 74, 41);
}
section .container{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;

}
section .container header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section .container nav{
    display: flex;

}
section.container nav a{
    margin-left: 55px; color: white;
    font-size: 14px;

}
